@using MvcApplication14.CS;
<table class="easyui-datagrid" data-options="fitColumns:true,fit:true,resizeHandle:'both',singleSelect:true">
    <thead>
        <tr>
            <th data-options="field:'code'">编号</th>
            <th data-options="field:'name'">公司名称</th>
            <th data-options="field:'price'">联系人姓名</th>
            <th data-options="field:'code'">用户名</th>
            <th data-options="field:'name'">密码</th>
            <th data-options="field:'price'">电话</th>
            <th data-options="field:'price'">所属行业</th>
            <th data-options="field:'price'">所属省份</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
           @foreach (Company c in ViewBag.c )
           { 
            <td>@c.ID</td>
            <td>@c.admin</td>
            <td>@c.username</td>
            <td>@c.phone</td>
           }

            
            
            
            
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>

        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
        </tr>
        <tr>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
            <td>2323</td>
            <td>001DASDASDASDASDSADAS</td>
            <td>name1</td>
        </tr>
        <tr>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>
            <td>4612</td>
            <td>002</td>
            <td>name2</td>

        </tr>

    </tbody>
</table>