@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Themes/Css/sureMsg.css" rel="stylesheet" />
   
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
     <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/gray/easyui.css" rel="stylesheet" />
     <script src="~/Themes/Javascript/sureMsg.js"></script>
   
    <title>信息确认</title>
</head>
<body>
    
    <div id="win" >   
        <ul>
            <li>姓名：<span class="liText">刘浩</span></li>
            <li>公司：<span class="liText">大连国际贸易交易有限公司</li>
            <li>邮箱：<span class="liText">liuhao2050@qq.com</li>
             <li>电话：<span class="liText">123456</span></li>
        </ul>  
</div>  
</body>
</html>
