ul > li {
    font-family:"楷体";
    font-size:large;
    margin-bottom:10px;

}
ul {
    list-style:none;
    margin-top:60px;
    margin-left:80px;
}
.liText {
   width:90%;
   height:auto;
   border-bottom:solid #000 2px;
   text-align:center;

}